.nav
{
    background-color: rgba(0, 0, 0, 0.856);
    z-index: 9;
    padding-left: 50px;
    padding-right: 50px;
    display:flex;
   
}
.nav_top
{
    
    top:0;
    right:0;
    left:0;
}
.logo
{
    float:left;
    width: 55%;
}
.logo img
{
    padding: 3px;
    width:20%;
    
    
    
}
.nav_side
{
    float:right;
    width:45%;
    margin-top: 20px;
}
.nav_side a
{
    text-decoration: none;
    margin-right: 10px;
    margin-left:50px;
    margin-top: 20px;
    padding-top: 20px;
    padding-left: -5px;
    color: white;
    font-weight: bold;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    
}
.nav_side a:hover
{
    color: rgb(79, 255, 88);
    transition: all 1s ease;
}

:root {
    --gradient: linear-gradient(to left top, #DD2476 10%, #FF512F 90%) !important;
  }
  
  .card {
    background: rgb(51, 51, 51);
    border: 1px solid #ecb3cd;
    color: rgba(233, 176, 85, 0.8);
    margin-bottom: 2rem;
  }

.button_green {
    align-items: center;
    background-clip: padding-box;
    background-color: #29ae14;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
  }
  
  .button_green:hover,
  .button_green:focus {
    background-color: #29ae14;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  }
  
  .button_green:hover {
    transform: translateY(-1px);
  }
  
  .button_green:active {
    background-color: #29ae14;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
  }
  
